{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% block body %}
<div class="term">
    <h2 class="center">About</h2>

    <div style="text-align:center; margin-bottom:20px;">
    <img 
        src="{{ url_for('static', filename='images/favicon.ico') }}" 
        alt="About image"
        style="width:32px; height:auto;"
    >
</div>


    <p>
        I'm Aadhi. I write stories, poems, scripts, songs etc. I am a film-director.
        I believe in absurdism, abstraction and surrealism.
        This site is for you to read me and my work.
        hope you enjoy your time spent here. :)
    </p>
</div>
{% endblock %}
